%p#notice= notice

.row.medium-8.large-7.columns
  = render 'box'
  %br/
  .row
    - @forum.comments.each do |c|
      .medium-12.columnn
        .callout.comment-box
          %h6
            = c.comment
          %p  
            by 
            = link_to c.user.firstname, profile_path(c.forum.user.profile) 
            %small 
              = (time_ago_in_words c.created_at) + " ago"
            - if user_signed_in?
              - if c.user == current_user
                - del_path = "/forums/" + @forum.id.to_s + "/comments/" + c.id.to_s
                &nbsp;&nbsp;
                = link_to "", del_path, method: :delete, class: "fa fa-scissors "
    %br/
  .row  
    = form_for ([@forum, @forum.comments.new]) do |f|
      .medium-6.medium-offset-1.columns
        = f.text_field :comment
      .medium-4.columns
        = f.submit 'Comment', class: "button secondary"
  %br/

.center
  = link_to 'Edit', edit_forum_path(@forum)
  |
  = link_to 'Back', @forums_path



