!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
    //= javascript_include_tag "application"
  %body
    .top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li.menu-text 
            %h4= link_to "Bozo", root_path
      .top-bar-right
        %ul.menu
          -unless user_signed_in?
            %li
              = link_to "Register", new_user_registration_path 
            %li
              = link_to "Sign In", new_user_session_path
          -else
            %li
              =link_to "Sign Out", destroy_user_session_path, method: :delete, cofirm: "sd"

    .callout.large.poster
      .row.column.text-center
        %h1 Bozo
        %h2.subheader 
          Hot topics, Hot discussions! 
          %span.fa.fa-heart-o{style:"color:#F06292;"}
    .alert
      %span#notice= flash[:notice]
      %span#alert= flash[:alert] 
    .container
      = yield

    %script{:src => "/assets/vendor/jquery.min.js"}
    = javascript_include_tag "application"
    %script{:src => "/assets/custom/app.js"} 
